// variables
$bgpage: #ECEFF1;
$textcolor: #212121;
$textsecondary: #757575;
$textreverse: #ffffff;
$accent: #FFC107;
$primary: #3F51B5;
$primary-dark: #303F9F;
$primary-light: #C5CAE9;
$divider: #BDBDBD;
$basefont: 'Helvetica', 'Arial', sans-serif;
$linkcolor: $primary-dark;
$linkhover: #F44336;
$linkreverse: #ffffff;
